<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;

  <!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;

  <!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

<!DOCTYPE css>
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Verdana', sans-serif;
}

body {
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px, 10%
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
